/* color primary */
/* color neutral */
/* font & font sizes */
/* font weight */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100%;
  background-color: #716f6f;
  display: grid;
  place-content: center;
}

main {
  background-color: #ffffff;
  border-radius: 24px 24px 200px 24px;
  width: 840px;
  font-family: "Poppins", sans-serif;
  padding: 56px;
  /* form */
}
main .form {
  display: flex;
  flex-direction: column;
  /* div inside form */
}
main .form .form-control {
  display: flex;
  gap: 2rem;
  /* div control input */
}
main .form .form-control .input {
  max-width: 160px;
  display: flex;
  flex-direction: column;
}
main .form .form-control .input label {
  text-transform: uppercase;
  color: #716f6f;
}
main .form .form-control .input input {
  font-weight: 800;
  padding: 12px;
  border-radius: 8px;
  outline: 1px solid #716f6f;
  border: none;
  font-size: 2rem;
}
main .form .submit-area {
  display: flex;
  align-items: center;
  flex-basis: 1;
}
main .form .submit-area .divider {
  flex-basis: 85%;
  height: 2px;
  background-color: #716f6f;
}
main .form .submit-area button {
  border: none;
  border-radius: 13.5rem;
  background-color: #854dff;
  padding: 1.63rem;
}
main .container {
  /* container text h1 */
}
main .container h1 {
  color: #151515;
  font-size: 6.5rem;
  font-style: italic;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -2.08px;
  /* span inside h1 */
}
main .container h1 span {
  color: #854dff;
}